pydantic_ai 
openai
uv 
fastmcp
pymysql
python-dotenv
fastapi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
uvicorn
google-generativeai
# notecard
pinecone
sentence-transformers
numpy

ragas
datasets
langchain-google-genai

langchain-community
rapidfuzz
langfuse
jira
python-dateutil
