pydantic_ai
fastmcp
pymysql
python-dotenv
fastapi
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
uvicorn
google-genai
pinecone
cohere
langfuse
jira
python-dateutil
numpy
slack-bolt
slack-sdk
aiohttp
